.body{
    margin: 0;
    padding: 0;
}
.menu{
    text-align: -webkit-center;
}
.list{
    list-style: none;
    display: inline-flex;
}
.title{
    text-align-last: center;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-top: 50px;
    font-family: cursive;
    color: teal;
    font-size: 25px;
    text-decoration: none;
}
.link{
    font-family: cursive;
    color: teal;
    font-size: 15px;
    text-decoration: none;
}
.box{
    background-repeat: no-repeat;
    border: outset;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;

}
.box::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("img/forest.jpg") center center;
    opacity: 0.3;
}
.paragraph{
    text-align: center;
    font-family: cursive;
    color: rgb(0, 119, 255);
}