.body{
    margin: 0;
    padding: 0;
}
.menu{
    text-align: -webkit-center;
}
.list{
    list-style: none;
    display: inline-flex;
}
.element{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
}
.link{
    text-decoration: none;
    font-family: cursive;
    color: teal;
}
.main{
    background-repeat: no-repeat;
    border: outset;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;

}
.main::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("C:/Users/mirko/Desktop/caro/POKEAPI/img/14721.jpg") center center;
    opacity: 0.3;
}
.logo{
    display: flex;
    place-content: center;
}
.title{
    text-align-last: center;
    color: rgb(196, 67, 67);
    font-family: fantasy;
}
.button{
    display: block;
    margin-top: 50px;
    font-family: cursive;
    color: cadetblue;
    background-color: darkslategray;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.listpokemon{
    display: inline-flex;
    margin-top: 60px;
}
.card{
    text-align: -webkit-center;
}
.pokemoncard{
    border: thin;
    background-color: bisque;
    margin: 25px;
    border-radius: 10px;
}
.pokemon{
    font-family: monospace;
}
.versus{
    margin-left: 100px;
    margin-right: 100px;
    color: black;
    font-family: monospace;
    font-size: x-large;
    padding-top: 100px;
}
.footertitle{
    font-size: 25px;
    font-family: monospace;
    color: rgb(115 80 34);
    text-align-last: center;
}